body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

form {
    width: 350px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 6px;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background: #6f4e37;
    color: white;
    border: none;
    cursor: pointer;
}
